* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* Header */
nav {
  background-color: #A10035;
  box-shadow: 0px 0px 15px black;
}
nav .container-fluid {
  max-width: 95%;
}
nav .container-fluid a {
  text-decoration: none;
  color: #F6EEC9;
  font-family: "square peg", sans-serif;
  font-size: 50px;
}
nav .container-fluid a :hover {
  display: black;
}
nav .container-fluid .navbar-toggler {
  font-size: 20px;
}
nav .container-fluid .collapse a {
  font-family: "square peg", sans-serif;
  position: absolute;
  top: 25%;
  left: 82%;
}
nav .container-fluid .collapse .nav-item a {
  color: #F6EEC9;
}
nav .container-fluid .carrito {
  position: absolute;
  height: 20px;
  top: 40%;
  left: 90%;
}
nav .container-fluid .carrito i {
  color: #F6EEC9;
  font-size: 30px;
}

main {
  background-image: url(../img/textura.png);
}

/* Index */
.mainIndex {
  overflow-x: hidden;
  background-image: url(../img/fondoIndex.png);
}

.containerIndex {
  text-align: center;
}
.containerIndex .TextoIndex1, .containerIndex .TextoIndex2, .containerIndex .TextoIndex3 {
  margin-top: 10%;
  font-family: "bitter", sans-serif;
  font-size: 50px;
  color: #fff;
  display: block;
  white-space: nowrap;
  border-right: 4px solid;
  width: 100%;
  animation: typing 1s steps(20), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.containerIndex .TextoIndex2 {
  margin-top: 0%;
  animation: typing 3s steps(30), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.containerIndex .TextoIndex3 {
  margin-top: 0%;
  animation: typing 5s steps(30), blink 0.5s infinite step-end alternate;
  overflow: hidden;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.containerIndex .boton {
  width: 0px;
  height: 0px;
  margin-bottom: 15.6%;
  margin-right: 12%;
}
.containerIndex .boton img {
  width: 140px;
  height: auto;
}

/* fin index */
/* page 1 */
main {
  overflow-x: hidden;
}

.inicioPedido h1 {
  text-align: center;
  font-family: "bitter", sans-serif;
  margin-top: 5%;
}
.inicioPedido a {
  text-decoration: none;
  color: black;
  font-family: "oswald", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-left: 15%;
}
.inicioPedido a img {
  border: 10px solid black;
  border-radius: 50%;
  width: 70%;
  height: auto;
}
.inicioPedido a img:hover {
  transition: all 0.2s;
  border-radius: 0%;
}
.inicioPedido a p {
  margin-left: 45%;
}

/* fin page 1 */
/* page 2 */
.containerPage2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 20%;
}

.containerPage2 .card {
  width: 300px;
  height: 500px;
  border: none;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.25s ease;
  backface-visibility: hidden;
}
.containerPage2 .card:hover img {
  transform: scale(1.25);
}
.containerPage2 .card:hover::after {
  height: 0px;
}
.containerPage2 .card img {
  height: 100%;
  z-index: 10;
  transition: all 0.5s ease;
}
.containerPage2 .card .card-text {
  z-index: 30;
  position: absolute;
  bottom: 0px;
  padding-bottom: 10px;
}
.containerPage2 .card .card-text .categorias {
  margin-bottom: 120%;
  font-family: "square peg", sans-serif;
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
  text-align: center;
}
.containerPage2 .card .card-text button {
  padding: 20px 30px;
  width: 100%;
  border-radius: 12px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: all 0.25s ease;
  font-family: "bebas neue", sans-serif;
  font-size: 30px;
}
.containerPage2 .card .card-text button:hover {
  background: #A20A0A;
}

/* fin page 2 */
/* Page especiales, veggies, entradas */
.containerFondo {
  background-image: url(../img/background1.png);
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 3s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(20px);
  }
  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}

.containerPizza, .containerPizzaVeggie, .containerPostre {
  padding: 20px 60px;
  margin-left: 3%;
}
.containerPizza .card, .containerPizzaVeggie .card, .containerPostre .card {
  box-shadow: 0px 0px 5px black;
}
.containerPizza .card .link, .containerPizzaVeggie .card .link, .containerPostre .card .link {
  text-decoration: none;
  color: black;
}
.containerPizza .card .nombrePizza, .containerPizzaVeggie .card .nombrePizza, .containerPostre .card .nombrePizza {
  font-family: "oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 0 1px 5px black;
}
.containerPizza .card .contenidoBottom, .containerPizzaVeggie .card .contenidoBottom, .containerPostre .card .contenidoBottom {
  font-weight: bolder;
  display: flex;
  flex-direction: row;
}
.containerPizza .card .contenidoBottom .aprobacion, .containerPizzaVeggie .card .contenidoBottom .aprobacion, .containerPostre .card .contenidoBottom .aprobacion {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.containerPizza .card .contenidoBottom .flex, .containerPizzaVeggie .card .contenidoBottom .flex, .containerPostre .card .contenidoBottom .flex {
  margin-left: 25%;
}
.containerPizza .card .contenidoBottom .botonAgregarCarrito, .containerPizzaVeggie .card .contenidoBottom .botonAgregarCarrito, .containerPostre .card .contenidoBottom .botonAgregarCarrito {
  display: flex;
  align-items: center;
  margin-left: 30%;
}
.containerPizza .card .contenidoBottom .botonAgregarCarrito button, .containerPizzaVeggie .card .contenidoBottom .botonAgregarCarrito button, .containerPostre .card .contenidoBottom .botonAgregarCarrito button {
  border: 1px solid black;
  padding: 2px;
  color: tomato;
}
.containerPizza .card .contenidoBottom .botonAgregarCarrito button i:hover, .containerPizzaVeggie .card .contenidoBottom .botonAgregarCarrito button i:hover, .containerPostre .card .contenidoBottom .botonAgregarCarrito button i:hover {
  transform: rotate(360deg);
  transition: all 0.5s;
}

/* veggie */
.containerPizzaVeggie {
  margin-left: 33%;
}

/* fin veggie */
/* formulario / contacto */
.containerInput {
  margin-top: 5%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.containerInput h2 {
  font-family: "oswald", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}
.containerInput form {
  margin-top: 5%;
  padding: 10px 40px;
}
.containerInput form .form-input input {
  margin-bottom: 30px;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid black;
}
.containerInput form .mensajeError {
  color: tomato;
  margin-top: 0px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
}
.containerInput form .botonSubmit {
  font-family: "oswald", sans-serif;
  font-size: 15px;
  margin-left: 35%;
  margin-bottom: 20px;
}
.containerInput form .botonSubmit input {
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
  border: none;
}

/* fin contacto */
/* boton scroll */
.scroll {
  border: none;
  padding: 10px 30px;
  font-family: "bebas neue", sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  background: #efefef;
  border-radius: 50%;
  color: grey;
}
.scroll i {
  width: 30px;
  color: tomato;
}

footer {
  overflow-x: hidden;
  background-color: #F6EEC9;
}
footer .containerFooter {
  padding: 30px 50px;
}
footer .containerFooter h4 {
  font-family: "square peg", sans-serif;
  font-size: 50px;
}
footer .containerFooter p {
  font-family: "oswald", sans-serif;
  font-size: 20px;
}
footer .containerFooter a {
  text-decoration: none;
  color: black;
}
footer .containerFooter a:hover {
  text-decoration: underline;
}
footer .containerFooter i {
  color: #A10035;
  margin: 10px;
  font-size: 30px;
}
footer .containerFooter i:hover {
  transform: scale(1.2);
}