@import 'variables';

.containerInput {
    margin-top: 5%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    h2 {
        font-family: 'oswald',sans-serif;
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
    }
    form {
        margin-top: 5%;
        padding: 10px 40px;
        .form-input{
            input {
            margin-bottom: 30px;
            border: none;
            outline: none;
            background: none;
            border-bottom: 1px solid black;
            }
        }
        .mensajeError {
            color: tomato;
            margin-top: 0px;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1px;
          }
        .botonSubmit {
            font-family: "oswald", sans-serif;
            font-size: 15px;
            margin-left: 35%;
            margin-bottom: 20px;
            input {
                background-color: black;
                color: white;
                text-transform: uppercase;
                padding: 5px 10px;
                border: none;
            }
        }
    }
}