@import 'variables';
/* Header */
nav {
    background-color:$color5;
    box-shadow: 0px 0px 15px black;
    .container-fluid {
        max-width: 95%;
        a {
            text-decoration: none;
            color: $color3;
            font-family: 'square peg', sans-serif;
            font-size: 50px;
            :hover{
                display: black;
            }
        }
        .navbar-toggler {
            font-size: 20px;
        }
        .collapse {
            a {
            font-family: 'square peg',sans-serif;
            position: absolute;
            top: 25%;
            left: 82%;
            }
            .nav-item a {
                color:$color3
            }
        }
        .carrito {
            position: absolute;
            height: 20px;
            top: 40%;
            left: 90%;
            i {
                color: $color3;
                font-size: 30px;
            }
        }  
    }
}
