@import 'variables';

body {
    background-image: url(../img/textura.png);
}
.NombreProducto {
    font-family: 'bitter',sans-serif;
    text-transform: uppercase;
    margin-left: 5px;
}
.descripcion {
    font-family: 'bebas neue',serif;
    width: 60%;
    margin-left: 5px;
}
.precioProducto {
    font-family: 'bitter',sans-serif;
    font-weight: bolder;
    font-size:20px;
    margin-right: 5px;
    padding-top: 10px;
}
.boton-agregar {
    background:transparent;
    color: tomato;
    font-size: 18px;
    border: none;
    &:hover{
        color: black;
    }
}
.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}
.modal-active {
    opacity: 1;
    visibility: visible;
}
.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    margin-top: 0;
    h3 {
        color: $color5;
        text-transform: uppercase;
        padding-bottom: 5px;
        font-family: 'bitter',sans-serif;
    }
    #carritoCerrar {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 20px;
        color:$color5;
        border: none;
        background-color: white;
        &:hover {
            cursor: pointer;
        }
    }
}
.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    &:hover {
        border-left: 5px solid royalblue;
    }
}
.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}
/*  */
/* page 1 */
main {
    overflow-x: hidden;
}
.inicioPedido{
    h1 {
        text-align: center;
        font-family: 'bitter',sans-serif;
        margin-top: 5%;
    }   
    a {
        text-decoration: none;
        color: black;
        font-family: 'oswald',sans-serif;
        font-size: 30px;
        text-transform: uppercase;
        margin-left: 15%;
        img {
            border: 10px solid black;
            border-radius: 50%;
            width: 70%;
            height: auto;
            &:hover{
                transition: all 0.2s;     
                border-radius: 0%;       
            }
        }
        p {
            margin-left: 45%;
        }
    }
}
/*  */

.containerFondo {
    background-image: url(../img/background1.png);
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 3s ease;
    @keyframes fadeIn {
        0% {
            opacity: 0;
            filter: blur(20px);
        }
        10% {
            opacity: 1;
            filter: brightness(2) blur(10px)
        }
    }
}
/*  */

/* boton scroll */
.scroll {
    border: none;
    padding: 10px 30px;
    font-family: 'bebas neue',sans-serif;
    text-transform: uppercase;
    font-size: 40px;
    background:#efefef;
    border-radius: 50%;
    color: grey;
    i {
        width: 30px;
        color: tomato;
    }
}

